/* 전역 설정, 유저 영역 선택 불가 */
* {
  font-family: 'Open Sans', '나눔스퀘어라운드 Regular', cursive;
  user-select: none;
}

#board {
  border: 1px solid #aaa;
  margin: 10px auto;
  min-height: 300px;
  position: relative;
  width: 1000px;
}

#board > #table > #title {
  background: #888;
  box-sizing: border-box;
  color: #fff;
  padding: 3px;
}

#board #table {
  position: relative;
  top: 30px;
}

#board #table span {
  display: inline-block;
}

.fs1 {
  box-sizing: border-box;
  padding: 20px;
  width: 500px;
}

.fs2 {
  box-sizing: border-box;
  padding: 20px;
  width: 500px;
}

.formDiv {
  display: flex;
  justify-content: center;
}

.checkTD {
  height: 40px;
  text-align: center;
  width: 40px;
}

#board .titleTD {
  width: 620px;
}

#board .idTD {
  width: 150px;
}

#board .dateTD {
  width: 100px;
}

#board .noTD {
  width: 90px;
}

#board .row:hover {
  background: #ddd;
  cursor: pointer;
}

#board #list > div:nth-child(5n) {
  border-bottom: 1px solid #ddd;
}

header {
  height: 30px;
  position: relative;
}

header > #input {
  position: absolute;
  right: 0;
}

pre {
  font-family: '나눔스퀘어라운드 Regular', sans-serif;
  padding: 10px;
  text-align: justify;
  white-space: pre-wrap;
  width: 650px;
}

a {
  transition: 0.3s;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 8s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: rainbow;
  animation-play-state: running;
  animation-timing-function: ease;
  -webkit-background-clip: text;
  background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, deepskyblue, mediumorchid);
  background-size: 800% 800%;
  font-weight: bold;
  text-decoration: underline;
  -webkit-text-fill-color: transparent;
}

@keyframes rainbow {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 25%;
  }

  100% {
    background-position: 0 50%;
  }
}

a:active {
  color: #f0c;
  text-decoration: underline;
}

input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px dotted #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin: 3px;
  outline: none;
  padding: 6px;
  transition: 0.5s;
}

input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  background-color: #050505;
  border: 1px solid #050505;
  color: #fff;
}

input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active {
  background-color: #555;
  border: 1px solid mintcream;
  color: mintcream;
}

input[type=text],
input[type=password],
input[type=email] {
  background: #f8f8f8;
  border-color: #aaa #ccc #ccc #aaa;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  color: #050505;
  filter: alpha(opacity:60);
  font-size: 16px;
  font-weight: bold;
  margin: 3px 0;
  opacity: 0.6;
  outline: none;
  padding: 6px;
  transition: 0.5s;
}

input::placeholder {
  font-size: 14px;
}

textarea {
  border-color: #aaa #ccc #ccc #aaa;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  filter: alpha(opacity:80);
  font-size: 16px;
  opacity: 0.8;
  outline: none;
  padding: 6px;
  resize: none;
  transition: 0.5s;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
  border: 1px solid #454545;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #555 inset;
  -webkit-text-fill-color: #fff;
}
