* {
    margin: 0;
}

body {
    padding: 20px;
}

#timeMain {
    background: #2f4f4f;
    border: 1px solid #fff;
    width: 400px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -200px;
}

#calendarMain {
    background: #2f4f4f;
    border: 1px solid #fff;
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -100px;
}

#timeView {
    position: absolute;
    left: 40px;
    top: 10px;
    font-size: 50px;
    color: white;
}

#timeDateView {
    position: absolute;
    left: 40px;
    bottom: 10px;
    font-size: 20px;
    color: #80d9d9;
}

#timeWindowCtrlBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: white;
}

#timeWindowCtrlBtn:hover {
    background-color: #4b8080;
}

#calendarWindowCtrlBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: white;
}

#calendarWindowCtrlBtn:hover {
    background-color: #4b8080;
}

#calendarBeforeBtn {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 10px;
    color: white;
}

#calendarBeforeBtn:hover {
    background-color: #4b8080;
}

#calendarAfterBtn {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 10px;
    color: white;
}

#calendarAfterBtn:hover {
    background-color: #4b8080;
}

#calendarYearMonth {
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 20px;
    color: white;
}

#calendarDate {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 20px;
    color: white;
    width: 320px;
    height: 240px;
    background: #3c6666;
}

table {
    width: 100%;
    height: 100%;
}

table, td {
    color: white;
    border: #808080 1px solid;
    border-collapse: collapse;
    text-align: center;
}

td.active {
    background-color: #1a94ff;
}

td:hover {
    background-color: #5a9999;
}

td:first-child {
    color: #87e6e6;
}

